
 <nav class="navbar navbar-inverse" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="brand" href="/">U Pepegy</a>
      <a class="navbar-brand" id="admin" href="/admin">Admin</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><form action="/logout?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">Odhlásit</button></form></li>
    </ul>
  </div>
</nav>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <a href="/profile/profilePic"><img class="rounded-circle mt-5" width="150px" src='/profilePics/{{profile.image}}'></a>
                <span class="font-weight-bold"></span>{{profile.jmeno}}<span class="text-black-50">{{profile.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">nastavení profilu</h4>
                </div>
                <form role="form" action="/profile" method="post">
                <div class="row mt-2">
                    <input type="hidden" id="id" name="id" value="{{profile.id_zak}}">
                    <div class="col-md-6"><label class="labels">Jméno</label><input type="text" name="jmeno" class="form-control" value="{{profile.jmeno}}"></div>
                    <div class="col-md-6"><label class="labels">Příjmení</label><input type="text" name="prijmeni" class="form-control" value="{{profile.prijmeni}}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Telefon</label><input type="text" name="mobil" class="form-control" value="{{profile.mobil}}"></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="email" name="email" class="form-control" value="{{profile.email}}"></div>
                    <a href="/profile/noveHeslo " type="button" class="btn btn-primary">Změnit heslo</a>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Uložit změny</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
