
 
 <nav class="navbar navbar-inverse" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="brand" href="/">U Pepegy</a>
      <a class="navbar-brand" id="admin" href="/admin">Admin</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><form action="/logout?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">Odhlásit</button></form></li>
    </ul>
  </div>
</nav>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <a href="/profile/profilePic"><img class="rounded-circle mt-5" width="150px" src='/profilePics/{{profile.image}}'></a>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Úprava produktu</h4>
                </div>
                <form role="form" action="/admin/editProduct" method="post">
                <div class="row mt-2">
                    <input type="hidden" id="id" name="id" value="{{product.id_vyr}}">
                    <div class="col-md-6"><label class="labels">Název</label><input type="text" name="nazev" class="form-control" value="{{product.nazev}}"></div>
                    <div class="col-md-6"><label class="labels">Cena</label><input type="text" name="cena" class="form-control" value="{{product.cena}}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Popis</label><input type="text" name="popis" class="form-control" value="{{product.popis}}"></div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Uložit změny</button></div>
                </div>
                 <label for="druhy">Druh výrobku:</label>
            <select id="food" name="druhy">
            <option value="1" name="1">Pizza</option>
            <option value="2" name="2">Piti</option>
            </select>
            </form>
        </div>
    </div>
</div>
</div>
</div>
