<div class="admin">
  <header class="admin__header">
    <a href="#" class="logo">
      <h1>GridAdmin</h1>
    </a>
    <div class="toolbar">
      <button class="btn btn--primary">Přidat produkt</button>
      <form action="/logout?_method=DELETE" method="POST"><button type="submit">Odhlásit se</button></form>
      
    </div>
  </header>

<!--tabulka pro upravu jidla-->
   <div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-dark">
        <thead>
            
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Název</th>
            <th scope="col">Cena</th>
            <th scope="col">Popis</th>
            <th scope="col">Akce</th>
          </tr>
          
        </thead>
        <tbody>
            {{#each Food}}
          <tr>
            <td>{{this.id_vyr}}</td>
            <td>{{this.nazev}}</td>
            <td>{{this.cena}}0 Kč</td>
            <td>{{this.popis}}</td>
            <td>
              <button type="button" class="btn btn-primary">upravit<i class="far fa-eye"></i></button>
            <form action="/admin/deleteProduct" method="POST">
            <input type="hidden" name="ID" value="{{this.id_vyr}}">
              <button type="submit" class="btn btn-danger">smazat<i class="far fa-trash-alt"></i></button>
            </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--tabulka pro upravu piti-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-dark">
        <thead>    
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazev</th>
            <th scope="col">Cena</th>
            <th scope="col">Popis</th>
            <th scope="col">Akce</th>
          </tr>
        </thead>
        <tbody>
            {{#each Drink}}
          <tr>
            <td>{{this.id_vyr}}</td>
            <td>{{this.nazev}}</td>
            <td>{{this.cena}} Kč</td>
            <td>{{this.popis}}</td>
            <td>
              <button type="button" class="btn btn-primary">upravit<i class="far fa-eye"></i></button>
            <button type="button" class="btn btn-danger">smazat<i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>