   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Admin: {{Nick}}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><form action="/logout?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">Odhlásit</button></form></li>
    </ul>
  </div>
</nav>

<!--tabulka pro upravu jidla-->
   <div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-dark">
        <thead>
            
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Název</th>
            <th scope="col">Cena</th>
            <th scope="col">Popis</th>
            <th scope="col">Akce</th>
          </tr>
          
        </thead>
        <tbody>
            {{#each Food}}
          <tr>
            <td>{{this.id_vyr}}</td>
            <td>{{this.nazev}}</td>
            <td>{{this.cena}} Kč</td>
            <td>{{this.popis}}</td>
            <td>
            <a href="/admin/edit/{{this.id_vyr}}" type="button" class="btn btn-primary">upravit <i class="far fa-eye"></i></a>
            <a href="/admin/deleteProduct/{{this.id_vyr}}" type="button" class="btn btn-danger">smazat <i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--tabulka pro upravu piti-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-dark">
        <thead>    
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazev</th>
            <th scope="col">Cena</th>
            <th scope="col">Popis</th>
            <th scope="col">Akce</th>
          </tr>
        </thead>
        <tbody>
            {{#each Drink}}
          <tr>
            <td>{{this.id_vyr}}</td>
            <td>{{this.nazev}}</td>
            <td>{{this.cena}} Kč</td>
            <td>{{this.popis}}</td>
            <td>
            <a href="/admin/edit/{{this.id_vyr}}" type="button" class="btn btn-primary">upravit <i class="far fa-eye"></i></a>
            <a href="/admin/deleteProduct/{{this.id_vyr}}" type="button" class="btn btn-danger">smazat <i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="addProduct">
  <a href="/admin/addProduct" class="btn" id="tlacitko">Přidat produkt</a>
</div>