<nav class="navbar navbar-inverse" id="nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">U Pepegy</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <li><form action="/logout?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger" id="tlacitko">Odhlásit</button></form></li>
    </ul>
    </div>
  </nav>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" id="obrazek" width="150px" height="150px" src='/profilePics/{{profile.image}}'>
                <span class="font-weight-bold"></span>{{profile.jmeno}}<span class="text-black-50">{{profile.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">změna hesla</h4>
                </div>
                <form role="form" action="/profile/noveHeslo" method="post">
                <div class="row mt-2">
                    <input type="hidden" id="id" name="id" value="{{profile.id_zak}}">
                </div>
                <div class="row mt-3">
                    <div class="col-md-4 "><label class="labels">Heslo</label><input type="password" name="heslo" class="form-control" placeholder="{{profile.heslo}}" required></div>
                </div>
                </div>
                </div>
                </div>
                  <div class="mb-5 text-center">
                  <button class="btn btn-primary profile-button" type="submit">Uložit změny</button>
                  </div>
                </div>
            </form>
        </div>
                
 