{{#if login}}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">U Pepegy</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="profile" id="profil">Profil <i class="fa-solid fa-user"></i></a></li>
      <li><form action="/logout?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">Odhlásit</button></form></li>
    </ul>
    </div>
  </nav>
    <div class="d-flex justify-content-center" id="vyrobky">
   <div class="col-md-5">
    <div class="table-wrap">
     <table class="table table-striped table-dark ">
      <tbody>
       <tr>
        <th scope="col">Druh</th>
        <th scope="col">Cena</th>
        <th scope="col">Složení</th>
        <th scope="col"></th>
       </tr>
      {{#each Food}}
      <div class="shop-items">
       <tr class="shop-item">
        <td class="shop-item-title">{{this.nazev}}</td>
        <td class="shop-item-price">{{this.cena}} Kč</td>
        <td>{{this.popis}}</td>
        <td>
          <button class="btn btn-primary shop-item-button" type="button">Přidat</button>
        </td>
       </tr>
      </div>
      {{/each}}
      </tbody>
     </table>
     <table class="table table-striped table-dark ">
      <tbody>
       <tr>
        <th scope="col">Druh</th>
        <th scope="col">Cena</th>
        <th scope="col">Objem</th>
        <th scope="col"></th>
       </tr>
      {{#each Drink}}
      <div class="shop-items">
       <tr class="shop-item">
        <td class="shop-item-title">{{this.nazev}}</td>
        <td class="shop-item-price">{{this.cena}} Kč</td>
        <td>{{this.popis}}</td>
        <td>
          <button class="btn btn-primary shop-item-button" type="button">Přidat</button>
        </td>
       </tr>
      </div>
      {{/each}}
      </tbody>
     </table>
    </div>
   </div>
  </div>
    <section class="container content-section">
            <h2 class="section-header">KOŠÍK</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">PRODUKT</span>
                <span class="cart-price cart-header cart-column">CENA</span>
                <span class="cart-quantity cart-header cart-column">MNOŽSTVÍ</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Celkem</strong>
                <span class="cart-total-price">0 Kč</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">OBJEDNAT</button>
        </section>
  <!--tabulka pro kontakní udaje-->           
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Kontakty
            </h4>
            <div class="contact_link_box">
              <a href="https://www.google.com/maps/place/Jahodov%C3%A1,+415+01+Teplice/@50.6513917,13.8272338,17z/data=!3m1!4b1!4m5!3m4!1s0x47098e6183f9a765:0x220f2b10d1456df6!8m2!3d50.6513883!4d13.8294225" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Jahodvá 123, Teplice
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +420 775 715 735
                </span>
              </a>
              <a href="mailto:Upepegy@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Upepgy@gmail.com
                </span>
              </a>
              <a>
                <i class="fa-solid fa-credit-card" aria-hidden="true"></i>
                <span>
                  Hotově, kartou
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              U Pepegy
            </a>
            <p>
              Vaše oblíbená pizzeria se super cenami a nejrychlejším dovozem v okolí :)
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/home?lang=cs" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Otevírací doba
          </h4>
          <p>
            Každý den
          </p>
          <p>
            10:00 - 23:00 
          </p>
        </div>
      </div>
    </div>
  </footer>
{{/if}}

<!-- styly pokud nejsem prihlašen-->

{{#unless login}}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">U Pepegy</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register"><span class="glyphicon glyphicon-user"></span> Registrace</a></li>
        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Přihlášení</a></li>
      </ul>
    </div>
  </nav>
    <div class="d-flex justify-content-center" id="vyrobky">
   <div class="col-md-5">
    <div class="table-wrap">
     <table class="table table-striped table-dark ">
      <tbody>
       <tr>
        <th scope="col">Druh</th>
        <th scope="col">Cena</th>
        <th scope="col">Složení</th>
        <th scope="col"></th>
       </tr>
      {{#each Food}}
      <div class="shop-items">
       <tr class="shop-item">
        <td class="shop-item-title">{{this.nazev}}</td>
        <td class="shop-item-price">{{this.cena}} Kč</td>
        <td>{{this.popis}}</td>
        <td>
          <button class="btn btn-primary shop-item-button" type="button">Přidat</button>
        </td>
       </tr>
      </div>
      {{/each}}
      </tbody>
     </table>
     <table class="table table-striped table-dark ">
      <tbody>
       <tr>
        <th scope="col">Druh</th>
        <th scope="col">Cena</th>
        <th scope="col">Objem</th>
        <th scope="col"></th>
       </tr>
      {{#each Drink}}
      <div class="shop-items">
       <tr class="shop-item">
        <td class="shop-item-title">{{this.nazev}}</td>
        <td class="shop-item-price">{{this.cena}} Kč</td>
        <td>{{this.popis}}</td>
        <td>
          <button class="btn btn-primary shop-item-button" type="button">Přidat</button>
        </td>
       </tr>
      </div>
      {{/each}}
      </tbody>
     </table>
    </div>
   </div>
  </div>
    <section class="container content-section">
            <h2 class="section-header">KOŠÍK</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">PRODUKT</span>
                <span class="cart-price cart-header cart-column">CENA</span>
                <span class="cart-quantity cart-header cart-column">MNOŽSTVÍ</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Celkem</strong>
                <span class="cart-total-price">0 Kč</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">OBJEDNAT</button>
        </section>
  <!--tabulka pro kontakní udaje-->           
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Kontakty
            </h4>
            <div class="contact_link_box">
              <a href="https://www.google.com/maps/place/Jahodov%C3%A1,+415+01+Teplice/@50.6513917,13.8272338,17z/data=!3m1!4b1!4m5!3m4!1s0x47098e6183f9a765:0x220f2b10d1456df6!8m2!3d50.6513883!4d13.8294225" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Jahodvá 123, Teplice
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +420 775 715 735
                </span>
              </a>
              <a href="mailto:Upepegy@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Upepgy@gmail.com
                </span>
              </a>
              <a>
                <i class="fa-solid fa-credit-card" aria-hidden="true"></i>
                <span>
                  Hotově, kartou
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              U Pepegy
            </a>
            <p>
              Vaše oblíbená pizzeria se super cenami a nejrychlejším dovozem v okolí :)
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/home?lang=cs" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Otevírací doba
          </h4>
          <p>
            Každý den
          </p>
          <p>
            10:00 - 23:00 
          </p>
        </div>
      </div>
    </div>
  </footer>
{{/unless}}




<script>
if (document.readyState == 'loading') {
    document.addEventListener('DOMContentLoaded', ready)
} else {
    ready()
}

function ready() {
    var removeCartItemButtons = document.getElementsByClassName('btn-danger')
    for (var i = 0; i < removeCartItemButtons.length; i++) {
        var button = removeCartItemButtons[i]
        button.addEventListener('click', removeCartItem)
    }

    var quantityInputs = document.getElementsByClassName('cart-quantity-input')
    for (var i = 0; i < quantityInputs.length; i++) {
        var input = quantityInputs[i]
        input.addEventListener('change', quantityChanged)
    }

    var addToCartButtons = document.getElementsByClassName('shop-item-button')
    for (var i = 0; i < addToCartButtons.length; i++) {
        var button = addToCartButtons[i]
        button.addEventListener('click', addToCartClicked)
    }

    document.getElementsByClassName('btn-purchase')[0].addEventListener('click', purchaseClicked)
}

function purchaseClicked() {
    alert('Thank you for your purchase')
    var cartItems = document.getElementsByClassName('cart-items')[0]
    while (cartItems.hasChildNodes()) {
        cartItems.removeChild(cartItems.firstChild)
    }
    updateCartTotal()
}

function removeCartItem(event) {
    var buttonClicked = event.target
    buttonClicked.parentElement.parentElement.remove()
    updateCartTotal()
}

function quantityChanged(event) {
    var input = event.target
    if (isNaN(input.value) || input.value <= 0) {
        input.value = 1
    }
    updateCartTotal()
}

function addToCartClicked(event) {
    let button = event.target
    let shopItem = button.parentElement.parentElement
    let title = shopItem.getElementsByClassName('shop-item-title')[0].innerText 
    let price = shopItem.getElementsByClassName('shop-item-price')[0].innerText
    //let imageSrc = shopItem.getElementsByClassName('shop-item-image')[0].src
    addItemToCart(title, price)
    updateCartTotal()
}

function addItemToCart(title, price) {
    let cartRow = document.createElement('div')
    cartRow.classList.add('cart-row')
    let cartItems = document.getElementsByClassName('cart-items')[0]
    let cartItemNames = cartItems.getElementsByClassName('cart-item-title')
    for (let i = 0; i < cartItemNames.length; i++) {
        if (cartItemNames[i].innerText == title) {
            alert('This item is already added to the cart')
            return
        }
    }
   
   let cartRowContents = `
        <div class="cart-item cart-column">
            <span class="cart-item-title">${title}</span>
        </div>
        <span class="cart-price cart-column">${price}</span>
        <div class="cart-quantity cart-column">
            <input class="cart-quantity-input" type="number" value="1">
            <button class="btn btn-danger" type="button">REMOVE</button>
        </div>`

    cartRow.innerHTML = cartRowContents
    cartItems.append(cartRow)
    cartRow.getElementsByClassName('btn-danger')[0].addEventListener('click', removeCartItem)
    cartRow.getElementsByClassName('cart-quantity-input')[0].addEventListener('change', quantityChanged)
}

function updateCartTotal() {
    var cartItemContainer = document.getElementsByClassName('cart-items')[0]
    var cartRows = cartItemContainer.getElementsByClassName('cart-row')
    var total = 0
    for (var i = 0; i < cartRows.length; i++) {
        let cartRow = cartRows[i]
        let priceElement = cartRow.getElementsByClassName('cart-price')[0]
        let quantityElement = cartRow.getElementsByClassName('cart-quantity-input')[0]
        let price = parseFloat(priceElement.innerText.replace('$', ''))
        let quantity = quantityElement.value
        total = total + (price * quantity)
    }
    total = Math.round(total * 100) / 100
    document.getElementsByClassName('cart-total-price')[0].innerText = total + 'Kč'
}
</script>