<nav class="navbar navbar-inverse" id="nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">U Pepegy</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register"><span class="glyphicon glyphicon-user"></span> Registrace</a></li>
        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Přihlášení</a></li>
      </ul>
    </div>
  </nav>
    <div class="d-flex justify-content-center" id="vyrobky">
   <div class="col-md-5">
    <div class="table-wrap">
     <table class="table table-striped table-dark ">
      <tbody>
       <tr>
        <th scope="col">Druh</th>
        <th scope="col">Cena</th>
        <th scope="col">Složení</th>
        <th scope="col"></th>
       </tr>
      {{#each Food}}
      <div class="shop-items" id="{{this.id_vyr}}">
       <tr class="shop-item">
        <td class="shop-item-title">{{this.nazev}}</td>
        <td class="shop-item-price">{{this.cena}} Kč</td>
        <td>{{this.popis}}</td>
        <td>
          <button class="btn btn-primary shop-item-button" type="button">Přidat</button>
        </td>
       </tr>
      </div>
      {{/each}}
      </tbody>
     </table>
     <table class="table table-striped table-dark ">
      <tbody>
       <tr>
        <th scope="col">Druh</th>
        <th scope="col">Cena</th>
        <th scope="col">Objem</th>
        <th scope="col"></th>
       </tr>
      {{#each Drink}}
      <div class="shop-items">
       <tr class="shop-item">
        <td class="shop-item-title">{{this.nazev}}</td>
        <td class="shop-item-price">{{this.cena}} Kč</td>
        <td>{{this.popis}}</td>
        <td>
          <button class="btn btn-primary shop-item-button" type="button">Přidat</button>
        </td>
       </tr>
      </div>
      {{/each}}
      </tbody>
     </table>
    </div>
   </div>
  </div>
    <section class="container content-section">
            <h2 class="section-header">KOŠÍK</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">PRODUKT</span>
                <span class="cart-price cart-header cart-column">CENA</span>
                <span class="cart-quantity cart-header cart-column">MNOŽSTVÍ</span>
            </div>
            <div class="cart-items">
            </div>
            <form role="form" action="/orderNoLog" method="POST">
            <div class="cart-total">
                <strong class="cart-total-title">Celkem</strong>
                <span class="cart-total-price">0 Kč</span>
            </div>
            <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Tel. číslo</label><input type="text" name="mobil" class="form-control" required></div>
                    <div class="col-md-6"><label class="labels">Email</label><input type="email" name="email" class="form-control" required></div>
                    <div class="col-md-6"><label class="labels">Adresa</label><input type="text" name="adresa" class="form-control" required></div>
                    <div class="col-md-6">
                    <label class="labels" for="druhy">Město:</label>
                    
                    <select id="mesta" name="mesta" class="form-control">
                      {{#each Mesta}}
                        <option value="1" name="{{this.id_mesta}}">{{this.nazev_mesta}}</option>
                        {{/each}}
                    </select>
                     
                    </div>
                </div>
            <button class="btn btn-primary btn-purchase" type="submit" id="cudlik">OBJEDNAT</button>
            </form>
        </section>
  <!--tabulka pro kontakní udaje-->           
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Kontakty
            </h4>
            <div class="contact_link_box">
              <a href="https://www.google.com/maps/place/Jahodov%C3%A1,+415+01+Teplice/@50.6513917,13.8272338,17z/data=!3m1!4b1!4m5!3m4!1s0x47098e6183f9a765:0x220f2b10d1456df6!8m2!3d50.6513883!4d13.8294225" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Jahodvá 123, Teplice
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +420 775 715 735
                </span>
              </a>
              <a href="mailto:Upepegy@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Upepgy@gmail.com
                </span>
              </a>
              <a>
                <i class="fa-solid fa-credit-card" aria-hidden="true"></i>
                <span>
                  Hotově, kartou
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              U Pepegy
            </a>
            <p>
              Vaše oblíbená pizzeria se super cenami a nejrychlejším dovozem v okolí :)
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/home?lang=cs" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/u_pepegy/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Otevírací doba
          </h4>
          <p>
            Každý den
          </p>
          <p>
            10:00 - 23:00 
          </p>
        </div>
      </div>
    </div>
  </footer>